:host {
  width: 100%;
}

// .wrapper {
// }

.row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.mat-card {
  margin: 5px;
  flex-grow: 1;
}

.card-30 {
  width: 30%;
}

.card-50 {
  width: 50%;
}

.card-status-content {
  display: flex;
  padding: 0px 0px 15px 0px;
}

.card-status-content h1{
  margin: 0px;
}

