<div class="wrapper">
  <div class="row">
    <mat-card class="card-30">
      <mat-card-header>
        <mat-card-title>New orders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content flex-center">
          <h1>10</h1>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-30">
      <mat-card-header>
        <mat-card-title>Pending orders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content flex-center">
          <h1>10</h1>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-30">
      <mat-card-header>
        <mat-card-title>Monthly sales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content flex-center">
          <h1>10</h1>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Your active orders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content">
          TODO: show users active orders
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card-50">
      <mat-card-header>
        <mat-card-title>Active orders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content">
          TODO: show all active orders
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-50">
      <mat-card-header>
        <mat-card-title>Events</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="card-status-content">
          TODO: show events
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card>

    </mat-card>
  </div>
</div>