<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h1>EShop Dashboard</h1></mat-card-title>
      <mat-card-subtitle>
        <h3>Register new user account</h3>
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="register(registerForm.value)">
        <mat-error class="form-error" *ngIf="registrationError">
          {{ registrationError }}
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Username"  formControlName="username" required>
          <mat-error *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">
            {{ requireAlert }}
          </mat-error>
          <mat-error *ngIf="registerForm.controls['username'].hasError('maxlength') && registerForm.controls['username'].touched">
            Username is too long!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Firstname" formControlName="firstname" required>
          <mat-error *ngIf="registerForm.controls['firstname'].hasError('required') && registerForm.controls['firstname'].touched">
            {{ requireAlert }}
          </mat-error>
          <mat-error *ngIf="registerForm.controls['firstname'].hasError('maxlength') && registerForm.controls['firstname'].touched">
            Firstname is too long!
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Lastname" formControlName="lastname" required>
          <mat-error *ngIf="registerForm.controls['lastname'].hasError('required') && registerForm.controls['lastname'].touched">
            {{ requireAlert }}
          </mat-error>
          <mat-error *ngIf="registerForm.controls['lastname'].hasError('maxlength') && registerForm.controls['lastname'].touched">
            Lastname is too long!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">
            {{ requireAlert }}
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched">
            Password is must be longer thank 6 characters!
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('maxlength') && registerForm.controls['password'].touched">
            Password is too long!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" required>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required') && registerForm.controls['confirmPassword'].touched">
            {{ requireAlert }}
          </mat-error>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minlength') && registerForm.controls['confirmPassword'].touched">
            Password is must be longer thank 6 characters!
          </mat-error>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('maxlength') && registerForm.controls['confirmPassword'].touched">
            Password is too long!
          </mat-error>
          <!-- Original code: registerForm.controls.confirmPassword?.errors?.MatchValidator 
            - Angular Language Service in vs code have some bug and reports error -->
          <mat-error *ngIf="registerForm.controls['confirmPassword'].errors?.MatchValidator && registerForm.controls['confirmPassword'].touched">
            Password not match!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Telephone" formControlName="telephone">
          <mat-error *ngIf="!registerForm.controls['telephone'].valid && registerForm.controls['confirmPassword'].touched">
            Telephone must be in format XXX 123 456 789 or 123 456 789! 
          </mat-error>
        </mat-form-field>
        
        <mat-checkbox formControlName="acceptTerms">Accept terms and conditions.</mat-checkbox>
      </form>
    </mat-card-content>
  
    <mat-card-actions align="middle">
      <button mat-button color="primary" color="primary" routerLink="/">Cancel</button>
      <!-- submit works based on form id -->
      <button type="submit" form="registerForm" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
    </mat-card-actions>
  </mat-card>