
<mat-card>
  <app-datatable
    #dataTable
    [loading]="loading"
    [data]="filteredData"
    [columns]="columns"
    [totalCount]="filteredTotal"
    [selectable]="true"
    [clickable]="true"
    [multiple]="true"
    [sortable]="true"
    [actionsVisible]="true"
    (loadEvent)="load($event)"
    (rowClick)="showAlert($event)">  
    <ng-template let-row>
      <button mat-icon-button (click)="showAlert(row.name)" >
        <mat-icon class="size-18 tc-grey-600" aria-label="Edit product">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="showAlert(row.name)" >
        <mat-icon class="size-18 tc-red-400" aria-label="Delete product">delete</mat-icon>
      </button>
    </ng-template>
  </app-datatable>
</mat-card>


