<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>
      <h1>EShop Dashboard</h1></mat-card-title>
    <mat-card-subtitle>
      <h3>Login</h3>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="login(loginForm.value)">
      <mat-form-field>
        <input matInput name="username" placeholder="Username" [formControl]="usernameFormControl" required>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          {{ requreAlert }}
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
          Username is longer than 255 chars!
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <input type="password" name="password" matInput placeholder="Password" [formControl]="passwordFormControl" required>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{ requreAlert }}
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          Password must be at least 6 characters!
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
          Password is longer than 255 chars!
        </mat-error>
      </mat-form-field>
      
      <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="rememberme">Remember me?</mat-checkbox>
    </form>
  </mat-card-content>

  <mat-card-actions align="middle">
    <button mat-button color="primary" color="primary" routerLink="/register">Register</button>
    <button type="submit" form="loginForm" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
  </mat-card-actions>
</mat-card>