<mat-list-item [style.height.px]="isParentItem ? 48 : 30" [ngClass]="{ 'router-link-active': isActiveRoute }">
  <a>
    <mat-icon class="size-20">{{ item.icon }}</mat-icon>
    
    <span>{{ item.label }}</span>
    
    <mat-icon *ngIf="item.submenu && !popupOpened" class="size-20">keyboard_arrow_right</mat-icon>
    <mat-icon *ngIf="item.submenu && popupOpened" class="size-20">keyboard_arrow_down</mat-icon>

  </a>
</mat-list-item>
 
<app-menu-expander
    *ngIf="popupOpened" 
    [menu]='item.submenu'
    @visibilityChanged> 
</app-menu-expander>
